<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entered Processes</title>
    <link rel="stylesheet" href="../static/css/entered_processes.css">
</head>
<body>
    {% include 'home_button.html' %}
    <div class="container">
        <h1 class="title">Entered Processes</h1>
        <table>
            <thead>
                <tr>
                    <th>Process ID</th>
                    <th>Arrival Time</th>
                    <th>Burst Time</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                {% for process in processes %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ process['arrival_time'] }}</td>
                    <td>{{ process['burst_time'] }}</td>
                    <td>{{ process['priority'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <h2>Selected Algorithms:</h2>
        <ul>
            {% for algorithm in selected_algorithms %}
                <li>{{ algorithm }}</li>
            {% endfor %}
        </ul>

</div>
{% if fcfs_results %}
<div>
    <h2>FCFS Results</h2>
    <p>Average Turnaround Time: {{ fcfs_results.avg_turnaround_time }}</p>
    <p>Average Waiting Time: {{ fcfs_results.avg_waiting_time }}</p>
    <p>Total Turnaround Time: {{ fcfs_results.total_turnaround_time }}</p>
    <p>Total Waiting Time: {{ fcfs_results.total_waiting_time }}</p>
</div>
{% endif %}


</body>
</html>
