<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entered Processes</title>
    <link rel="stylesheet" href="../static/css/entered_processes.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'home_button.html' %}
    <div class="container">
        <h1 class="title">Entered Processes</h1>
        <table>
            <thead>
                <tr>
                    <th>Process ID</th>
                    <th>Arrival Time</th>
                    <th>Burst Time</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                {% for process in processes %}
                <tr>
                    <td>{{process.id}}</td>
                    <td>{{ process.arrival_time}}</td>
                    <td>{{ process.burst_time}}</td>
                    <td>{{ process.priority}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>Selected Algorithms:</h2>
    <div class="selected-algos">
        <ul>
            {% for algorithm in selected_algorithms %}
            <li>{{ algorithm }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="img-container">
        {% if fcfs_results %}
        <h2>FCFS Results</h2>
        <table class="fcfs-results-table">
            <thead>
                <tr>
                    <th>Statistic</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Average Turnaround Time</td>
                    <td>{{ fcfs_results.avg_turnaround_time }}</td>
                </tr>
                <tr>
                    <td>Average Waiting Time</td>
                    <td>{{ fcfs_results.avg_waiting_time }}</td>
                </tr>
                <tr>
                    <td>Total Turnaround Time</td>
                    <td>{{ fcfs_results.total_turnaround_time }}</td>
                </tr>
                <tr>
                    <td>Total Waiting Time</td>
                    <td>{{ fcfs_results.total_waiting_time }}</td>
                </tr>
            </tbody>
        </table>
        <img src="{{ url_for('static', filename='gantt_chart1.png') }}" alt="Gantt Chart">
        {% endif %}
    </div>
    <div class="img-container">
    {% if sjf_results %}
    <h2>SJF Results</h2>
    <table class="sjf-results-table">
        <thead>
            <tr>
                <th>Statistic</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Average Turnaround Time</td>
                <td>{{ sjf_results.avg_turnaround_time }}</td>
            </tr>
            <tr>
                <td>Average Waiting Time</td>
                <td>{{ sjf_results.avg_waiting_time }}</td>
            </tr>
            <tr>
                <td>Total Turnaround Time</td>
                <td>{{ sjf_results.total_turnaround_time }}</td>
            </tr>
            <tr>
                <td>Total Waiting Time</td>
                <td>{{ sjf_results.total_waiting_time }}</td>
            </tr>
        </tbody>
    </table>
    <img src="{{ url_for('static', filename='gantt_chart2.png') }}" alt="Gantt Chart">
    {% endif %}
    </div>

</body>
</html>
