<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entered Processes</title>
    <link rel="stylesheet" href="../static/css/entered_processes.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'home_button.html' %}
    <div class="container">
        <h1 class="title">Entered Processes</h1>
        <table>
            <thead>
                <tr>
                    <th>Process ID</th>
                    <th>Arrival Time</th>
                    <th>Burst Time</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                {% for process in processes %}
                <tr>
                    <td>{{process.id}}</td>
                    <td>{{ process.arrival_time}}</td>
                    <td>{{ process.burst_time}}</td>
                    <td>{{ process.priority}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        {% if fcfs_results %}
    <div class="img-container">
        <h2>FCFS Results</h2>
        <table class="fcfs-results-table">
            <thead>
                <tr>
                    <th>Statistic</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Turnaround Time</td>
                    <td>{{ fcfs_results.total_turnaround_time }}</td>
                </tr>
                <tr>
                    <td>Total Waiting Time</td>
                    <td>{{ fcfs_results.total_waiting_time }}</td>
                </tr>
                <tr>
                <td>Average Turnaround Time</td>
                <td>{{ fcfs_results.total_turnaround_time }} / {{num_processes}} = {{ fcfs_results.avg_turnaround_time }}</td>
            </tr>
            <tr>
                <td>Average Waiting Time</td>
                <td>{{ fcfs_results.total_waiting_time }} / {{num_processes}} = {{ fcfs_results.avg_waiting_time }}</td>
            </tr>

            </tbody>
        </table>
        <h2>Gantt chart for First-come,first-served</h2>
        <img src="{{ url_for('static', filename='gantt_chart1.png') }}" alt="Gantt Chart"><br>
        <div style="display: inline-block;">
            <img src="{{ url_for('static', filename='turnaround_time_fcfs.png') }}" alt="FCFS Turnaround Chart" style="max-width: 45%;">
            <img src="{{ url_for('static', filename='waiting_time_fcfs.png') }}" alt="FCFS Waiting Chart" style="max-width: 45%;">
        </div>
    </div>
            {% endif %}
    {% if sjf_results %}

    <div class="img-container">
    <h2>SJF Results</h2>
    <table class="sjf-results-table">
        <thead>
            <tr>
                <th>Statistic</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Turnaround Time</td>
                <td>{{ sjf_results.total_turnaround_time }}</td>
            </tr>
            <tr>
                <td>Total Waiting Time</td>
                <td>{{ sjf_results.total_waiting_time }}</td>
            </tr>
            <tr>
                <td>Average Turnaround Time</td>
                <td>{{ sjf_results.total_turnaround_time }} / {{num_processes}} = {{ sjf_results.avg_turnaround_time }}</td>
            </tr>
            <tr>
                <td>Average Waiting Time</td>
                <td>{{ sjf_results.total_waiting_time }} / {{num_processes}} = {{ sjf_results.avg_waiting_time }}</td>
            </tr>

        </tbody>
    </table>
    <h2>Gantt chart for Shortest Job First</h2>

    <img src="{{ url_for('static', filename='gantt_chart2.png') }}" alt="Gantt Chart"><br>
        <div style="display: inline-block;">
            <img src="{{ url_for('static', filename='turnaround_time_sjf.png') }}" alt="SJF Turnaround Chart" style="max-width: 45%;">
            <img src="{{ url_for('static', filename='waiting_time_sjf.png') }}" alt="SJF Waiting Chart" style="max-width: 45%;">
        </div>
        <br><br><br>
    </div>
        {% endif %}
        {% if priority_results %}

    <div class="img-container">
        <h2>Priority Scheduling Results</h2>
        <table class="priority-results-table">
            <thead>
                <tr>
                    <th>Statistic</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Turnaround Time</td>
                    <td>{{ priority_results.total_turnaround_time }}</td>
                </tr>
                <tr>
                    <td>Total Waiting Time</td>
                    <td>{{ priority_results.total_waiting_time }}</td>
                </tr>
                <tr>
                    <td>Average Turnaround Time</td>
                    <td>{{ priority_results.total_turnaround_time }} / {{num_processes}} = {{ priority_results.avg_turnaround_time }}</td>
                </tr>
                <tr>
                    <td>Average Waiting Time</td>
                    <td>{{ priority_results.total_waiting_time }} / {{num_processes}} = {{ priority_results.avg_waiting_time }}</td>
                </tr>

            </tbody>
        </table>
        <h2>Gantt chart for Priority Scheduling</h2>

        <img src="{{ url_for('static', filename='gantt_chart3.png') }}" alt="Gantt Chart"><br>
        <div style="display: inline-block;">
            <img src="{{ url_for('static', filename='turnaround_time_priority.png') }}" alt="Priority Turnaround Chart" style="max-width: 45%;">
            <img src="{{ url_for('static', filename='waiting_time_priority.png') }}" alt="Priority Waiting Chart" style="max-width: 45%;">
        </div>
    </div>
        {% endif %}
    {% if rr_results %}

<div class="img-container">
    <h2>Round Robin Results</h2>
    <table class="rr-results-table">
        <thead>
            <tr>
                <th>Statistic</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Total Turnaround Time</td>
                <td>{{ rr_results.total_turnaround_time }}</td>
            </tr>
            <tr>
                <td>Total Waiting Time</td>
                <td>{{ rr_results.total_waiting_time }}</td>
            </tr>
            <tr>
                <td>Average Turnaround Time</td>
                <td>{{ rr_results.total_turnaround_time }} / {{ num_processes }} = {{ rr_results.avg_turnaround_time }}</td>
            </tr>
            <tr>
                <td>Average Waiting Time</td>
                <td>{{ rr_results.total_waiting_time }} / {{ num_processes }} = {{ rr_results.avg_waiting_time }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Gantt chart for Round Robin</h2>
    <img src="{{ url_for('static', filename='gantt_chart4.png') }}" alt="Gantt Chart"><br>
       <div style="display: inline-block;">
            <img src="{{ url_for('static', filename='turnaround_time_rr.png') }}" alt="Round Robin Turnaround Chart" style="max-width: 45%;">
            <img src="{{ url_for('static', filename='waiting_time_rr.png') }}" alt="Round Robin Waiting Chart" style="max-width: 45%;">
        </div>
</div>

{% endif %}



</body>
</html>
