<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Random Processes</title>
    <link rel="stylesheet" href="../static/css/generate.css">
</head>
<body>
    {% include 'home_button.html' %}
    <div class="container">
        <h1 class="title">Generate Random Processes</h1>
        <form action="/generate" method="post" class="form">
            <div class="form-group">
                <label for="num_processes">Number of Processes:</label>
                <input type="number" id="num_processes" name="num_processes" min="1" required>
            </div>
            <div class="form-group">
                <label for="arrival_time_range">Arrival Time Range (min, max):</label>
                <input type="text" id="arrival_time_range" name="arrival_time_range" placeholder="e.g., 0, 10" required>
            </div>
            <div class="form-group">
                <label for="burst_time_range">Burst Time Range (min, max):</label>
                <input type="text" id="burst_time_range" name="burst_time_range" placeholder="e.g., 1, 20" required>
            </div>
            <div class="form-group">
                <label for="priority_range">Priority Range (min, max): (if applicable)</label>
                <input type="text" id="priority_range" name="priority_range" placeholder="e.g., 1, 5" >
            </div>
    </div>
    <h1 class="title">Algorithm Selection</h1>
                <div class="form-group">
            <label>Select Scheduling Algorithm(s):</label><br>
            <input type="checkbox" name="algorithm[]" id="FCFS" value="FCFS">
            <label for="FCFS">First-Come, First-Served (FCFS)</label><br>
            <input type="checkbox" name="algorithm[]" id="SJF" value="SJF">
            <label for="SJF">Shortest Job First (SJF)</label><br>
            <input type="checkbox" name="algorithm[]" id="Priority" value="Priority">
            <label for="Priority">Priority Scheduling</label><br>
            <input type="checkbox" name="algorithm[]" id="RR" value="RR" onchange="toggleTimeSliceRequired()" placeholder="By default 2">
            <label for="RR">Round Robin (RR)</label>
            <td><input type="number" name="time_slice" id="time_slice" min="0"></td>
            <br>
            <input type="checkbox" name="algorithm[]" id="Priority_RR" value="Priority_RR">
            <label for="Priority_RR">Priority Scheduling + RR</label><br>
        </div>
            <button type="submit" class="btn-submit">Submit</button>
                <script>
function toggleTimeSliceRequired() {
    var rrCheckbox = document.getElementById("RR");
    var timeSliceInput = document.getElementById("time_slice");

    if (rrCheckbox.checked) {
        timeSliceInput.required = true;
    } else {
        timeSliceInput.required = false;
    }
}
</script>
        </form>
    </div>
</body>
</html>
