<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../static/css/menu.css">
</head>
<body>
    <div class="container">
        <h1 class="title">CPU Scheduler Simulation</h1>
        <div class="options">
            <a class="option-button" href="/upload">Upload Processes from File</a>
            <a class="option-button" href="/generate">Generate Random Processes</a>
            <a class="option-button" href="/enter">Enter Processes Manually</a>
        </div>
    </div>
</body>
</html>
